<div class="wrapper">
<div id="snail">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="431px" height="333.24px" viewBox="0 0 431 333.24" enable-background="new 0 0 431 333.24" xml:space="preserve">
      <path id="schatten" opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" fill="#020202" d="M21.287,311
        c0,0,326.5,18,273.486-4.262C246.88,286.627,27.537,301.25,21.287,311z"/>
      <g id="schnecke">
        <path id="snail-body" fill-rule="evenodd" clip-rule="evenodd" fill="purple" d="M276.121,129.07c0.579-0.127,2.626-0.112,8.416,0.43
            c11.912,1.115,12.381,4.398,16.5,7s4.302,3.045,12,2.5c6.509-0.461,26.67-10.506,32.746-13.6c-0.138-1.036-0.225-2.089-0.252-3.157
            c-0.404-16.296,12.702-29.839,29.273-30.249s30.334,12.467,30.738,28.763s-12.702,29.839-29.273,30.249
            c-11.777,0.291-22.129-6.131-27.282-15.719c-0.3-0.1-0.613-0.197-0.95-0.287c-3.525-0.942-14,2-14,2
            c-14.343,2.953-22.852,9.717-24,12c-0.988,1.965,2.649,5.096-3.5,19c-6.854,15.496-12.401,20.25-12.5,28.5s4.501,33.382,5,42.5
            s-1.21,17.784-0.5,38s-0.542,25.299-6,30s-19,5-19,5s-245.062-4.279-249-4.5s-4.881,0.4-5.5-3s6.303-9.035,35.5-17.5
            s88.187,0.091,126-15c37.813-15.091,59.5-58,59.5-58c12.86-29.572,15.251-43.079,15.5-54s3.61-16.463,5.5-19s4.5-8.5,4.5-8.5
            c4.57-15.327,1.842-38.032,2.226-45.526c-16.783-0.55-30.226-14.538-30.226-31.724c0-17.535,13.991-31.75,31.25-31.75
            s31.25,14.215,31.25,31.75c0,15.801-11.362,28.9-26.237,31.338C269.182,118.188,274.535,127.177,276.121,129.07"/>
      </g>
      <path id="auge_1_"
        fill-rule="evenodd" clip-rule="evenodd"
        fill="#c1c1c1"
        d="M266.287,34.5c13.669,0,24.75,11.081,24.75,24.75,S279.956,84,266.287,84s-24.75-11.081-24.75-24.75S252.618,34.5,266.287,34.5z"
      />

      <path id="blau_1_" fill-rule="evenodd" clip-rule="evenodd" fill="#0065AA" d="M258.287,60.311c5.766,0,10.439,4.674,10.439,10.439
        s-4.674,10.439-10.439,10.439s-10.439-4.674-10.439-10.439S252.521,60.311,258.287,60.311z"/>
      <path id="pupille" fill-rule="evenodd" clip-rule="evenodd" d="M257.287,65.069c3.69,0,6.682,2.991,6.682,6.681
        s-2.991,6.681-6.682,6.681s-6.682-2.991-6.682-6.681S253.597,65.069,257.287,65.069z"/>
      <path id="auge" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M393.292,141.313c-1.655-1.825-3.659-4.691-3.659-4.691
        c-25.219,0.361-38.693-14.617-40.772-17.127c4.646-9.881,15.481-15.831,26.743-13.821c13.457,2.403,22.418,15.259,20.016,28.716
        C395.178,136.864,394.379,139.187,393.292,141.313z"/>
      <path id="blau" fill-rule="evenodd" clip-rule="evenodd" fill="#0065AA" d="M376.696,130.503c-0.298,1.672-0.986,3.172-1.944,4.44
        c-8.011-2.002-14.161-5.474-18.483-8.655c1.255-5.367,6.494-8.877,11.986-7.896C373.93,119.404,377.71,124.828,376.696,130.503z"/>
      <path id="pupille_1_" fill-rule="evenodd" clip-rule="evenodd" d="M370.733,133.768c-4.288-1.435-7.95-3.261-10.987-5.136
        c0-0.376,0.027-0.757,0.096-1.138c0.648-3.633,4.119-6.053,7.752-5.403c3.633,0.648,6.052,4.119,5.403,7.752
        C372.712,131.438,371.883,132.798,370.733,133.768z"/>
      <ellipse id="mund" transform="matrix(0.9247 0.3808 -0.3808 0.9247 81.105 -91.742)" fill="#1D1D1B" cx="272.391" cy="159.087" rx="4.229" ry="2.538"/>
      </svg>

</div>
<div id="menu-wrapper">

    <!-- SVG Menu Generated By CIRCULUS.SVG :: http://sarasoueidan.com/tools/circulus -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-2 -2 504 504"
         id="menu">
        <style>
            #menu {
                display: block;
                margin: 0 auto;
                /*overflow: visible;*/
                /* uncomment this if you are using bouncing animations*/
            }

            a {
                cursor: pointer; /* SVG &lt;a&gt; elements don't get this by default, so you need to explicitly set it */
                outline: none;
            }

            /* You can change these default styles any way you want */

            .item .sector {
                transition: all .1s linear;
                fill: #fff;
                stroke: #111;
            }

            .item:hover .sector, .item:focus .sector {
                fill: #eee;
            }

            .menu-trigger {
                fill: #EA2A55;
                pointer-events: auto; /* KEEP THIS to make sure it stays clickable even when SVG's pointer events is disabled */
            }

            .menu-trigger:hover, .menu-trigger:focus {
                cursor: pointer;
            }

            symbol {
                overflow: visible; /* KEEP THIS so that text will not get cut off it it is wider than the icon width */
            }
        </style>
        <g id="symbolsContainer" >
            <symbol class="icon icon-" id="icon-1" viewBox="0 0 40 40">
                <!--Replace the contents of this symbol with the content of your icon-->
                <rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect>
                <text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">1</text>
            </symbol>

            <symbol class="icon icon-" id="icon-2" viewBox="0 0 40 40">
                <!--Replace the contents of this symbol with the content of your icon-->
                <rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect>
                <text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">2</text>
            </symbol>

            <symbol class="icon icon-" id="icon-3" viewBox="0 0 40 40">
                <!--Replace the contents of this symbol with the content of your icon-->
                <rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect>
                <text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">3</text>
            </symbol>

            <symbol class="icon icon-" id="icon-4" viewBox="0 0 40 40">
                <!--Replace the contents of this symbol with the content of your icon-->
                <rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect>
                <text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">4</text>
            </symbol>

            <symbol class="icon icon-" id="icon-5" viewBox="0 0 40 40">
                <!--Replace the contents of this symbol with the content of your icon-->
                <rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect>
                <text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">5</text>
            </symbol>

            <symbol class="icon icon-" id="icon-6" viewBox="0 0 40 40">
                <!--Replace the contents of this symbol with the content of your icon-->
                <rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect>
                <text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">6</text>
            </symbol>

            <symbol class="icon icon-" id="icon-7" viewBox="0 0 40 40">
                <!--Replace the contents of this symbol with the content of your icon-->
                <rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect>
                <text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">7</text>
            </symbol>

            <symbol class="icon icon-" id="icon-8" viewBox="0 0 40 40">
                <!--Replace the contents of this symbol with the content of your icon-->
                <rect fill="none" stroke="#111" stroke-width="1" width="100%" height="100%"></rect>
                <text fill="#222" x="50%" y="50%" dy=".3em" text-anchor="middle" font-size="1.2em">8</text>
            </symbol>

        </g>
        <g id="itemsContainer"><a class="item" id="item-1" role="link" tabindex="0" xlink:href="" xlink:title=""
                                  xlink:target="_parent" transform="rotate(0 250 250)" data-svg-origin="250 250"
                                  style="">
            <path fill="none" stroke="#111" stroke-width="1" class="sector"
                  d="M250,250 l250,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 z"></path>
            <use xlink:href="#icon-1" width="40" height="40" x="387.05950927734375" y="164.94381713867188"
                 transform="rotate(67.5 407.05950927734375 184.94381713867188)"></use>
        </a>
            <a class="item" (click)="isTapped()" id="item-2" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent"
               transform="rotate(-45 250 250)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector"
                      d="M250,250 l250,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 z"></path>
                <use xlink:href="#icon-2" width="40" height="40" x="387.05950927734375" y="164.94381713867188"
                     transform="rotate(67.5 407.05950927734375 184.94381713867188)"></use>
            </a>
            <a class="item" id="item-3" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent"
               transform="rotate(-90 250 250)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector"
                      d="M250,250 l250,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 z"></path>
                <use xlink:href="#icon-3" width="40" height="40" x="387.05950927734375" y="164.94381713867188"
                     transform="rotate(67.5 407.05950927734375 184.94381713867188)"></use>
            </a>
            <a class="item" id="item-4" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent"
               transform="rotate(-135 250 250)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector"
                      d="M250,250 l250,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 z"></path>
                <use xlink:href="#icon-4" width="40" height="40" x="387.05950927734375" y="164.94381713867188"
                     transform="rotate(67.5 407.05950927734375 184.94381713867188)"></use>
            </a>
            <a class="item" id="item-5" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent"
               transform="rotate(-180 250 250)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector"
                      d="M250,250 l250,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 z"></path>
                <use xlink:href="#icon-5" width="40" height="40" x="387.05950927734375" y="164.94381713867188"
                     transform="rotate(67.5 407.05950927734375 184.94381713867188)"></use>
            </a>
            <a class="item" id="item-6" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent"
               transform="rotate(-225 250 250)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector"
                      d="M250,250 l250,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 z"></path>
                <use xlink:href="#icon-6" width="40" height="40" x="387.05950927734375" y="164.94381713867188"
                     transform="rotate(67.5 407.05950927734375 184.94381713867188)"></use>
            </a>
            <a class="item" id="item-7" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent"
               transform="rotate(-270 250 250)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector"
                      d="M250,250 l250,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 z"></path>
                <use xlink:href="#icon-7" width="40" height="40" x="387.05950927734375" y="164.94381713867188"
                     transform="rotate(67.5 407.05950927734375 184.94381713867188)"></use>
            </a>
            <a class="item" id="item-8" role="link" tabindex="0" xlink:href="" xlink:title="" xlink:target="_parent"
               transform="rotate(-315 250 250)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector"
                      d="M250,250 l250,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 z"></path>
                <use xlink:href="#icon-8" width="40" height="40" x="387.05950927734375" y="164.94381713867188"
                     transform="rotate(67.5 407.05950927734375 184.94381713867188)"></use>
            </a>
        </g>
        <g id="trigger" class="trigger menu-trigger" role="button">
            <circle cx="250" cy="250" r="30"></circle>
            <!-- menu button label or icon goes here -->
        </g>
    </svg>

</div>
    <span class="test" [style.color]="name">{{name}}</span>
</div>